.Main-chat
  .Main-chat__group-info
    .Main-chat__group-info__left
      .group-name
        = @group.name
      .group-member
        -@group.group_users.each do |group_user| 
          = group_user.user.name
    .Main-chat__edit-btn
      = link_to "Edit", edit_group_path(@group)


  .Main-chat__message-lists
    = render @messages

  .Main-chat__message-form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .form-content
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'image' do
          = icon('far', 'image', class: 'img-icn')
          = f.file_field :image, class: 'img-file'
        = f.submit 'Send', class: 'submit-btn'
